#vs code
.vscode/

# exe
*.exe

# .idea
.idea

#bin
bin/

#log
log/

#pycache file
__pycache__/*
*.py[cod]
*.pyc
*$py.class

#robot log file
log.html
output.xml
report.html
functional_coverage.html
coverage.html
coverage.out
coverage.xml
report.xml

#build dir
build/